

<launch>

<!-- startup simulator node -->

  <node pkg="baxter_pour" type="central_control.py" name="central_control"
    respawn="true" output="screen" />

  <node pkg="baxter_pour" type="move_object.py" name="move_object"
    respawn="true" output="screen" />

  <node pkg="baxter_pour" type="weigh_object.py" name="weigh_object"
    respawn="true" output="screen" />


</launch>